body {
    background-color: rgb(207, 206, 216);
    font-family: "Varela round", sans-serif;
}
header, nav {
    display: flex;
    flex-direction: column;
}
h3 {
    align-self: stretch;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #331556cf;
    border: 6px#451e72cf solid;
    border-radius: 5px;
    text-size-adjust: 115%; 
}
a {
    padding: 1em 2em;
    align-self: stretch;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #331556cf;
    border-radius: 10px;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(51, 54, 58);
}
img {
    max-width: 400px;
    border-radius: 10%;
    padding: 1em;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    flex-wrap: wrap;
    max-width: 400px;
}
